<template>
  <footer class="footer">
    <div class="container">
      <div class="has-text-centered">

        <div class="tabs is-centered">
          <ul>
            <li :class="{'is-active': isActiveRoute('route_buy_premium')}">
              <router-link :to="{ name: 'route_buy_premium' }">Kup Premium</router-link>
            </li>
            <li :class="{'is-active': isActiveRoute('route_terms')}">
              <router-link :to="{ name: 'route_terms' }">Regulamin</router-link>
            </li>
            <li :class="{'is-active': isActiveRoute('route_archive')}">
              <router-link :to="{ name: 'route_archive', params: { 'page': 1 } }">Archiwum</router-link>
            </li>
            <li :class="{'is-active': isActiveRoute('route_register')}">
              <router-link :to="{ name: 'route_register' }">Rejestracja</router-link>
            </li>
            <li :class="{'is-active': isActiveRoute('route_login')}">
              <router-link :to="{ name: 'route_login' }">Logowanie</router-link>
            </li>
          </ul>
        </div>

        <p>
          <router-link :to="{ name: 'route_contact' }" class="button">Kontakt</router-link>
        </p>

        <p class="copyright">
          {{ domain }} &copy; {{ year }}
        </p>
        <p>
          <a href="#">
            <span class="icon">
              <i class="fa fa-arrow-up"></i>
            </span>
          </a>
        </p>
      </div>
    </div>
  </footer>
</template>

<script>
  import router from '../router/index';
  import config from '../config/config';

  export default {
    name: 'Footer',
    components: {
      router,
    },
    methods: {
      isActiveRoute(name) {
        return router.currentRoute.name === name;
      },
    },
    data() {
      return {
        year: new Date().getFullYear(),
        domain: config.DOMAIN,
      };
    },
  };
</script>
