<template>
  <header class="hero is-info is-bold">
    <div class="hero-head">
      <div class="nav">
        <div class="container">
          <div class="nav-left">
            <a class="nav-item is-paddingless">
              <router-link to="/">
                {{domain}}
              </router-link>
            </a>
          </div>
          <span class="nav-toggle">
          <span></span>
          <span></span>
          <span></span>
        </span>
          <div class="nav-right nav-menu">
            <a class="nav-item">
              <router-link :to="{ name: 'route_register'}">Zarejestruj się</router-link>
            </a>
            <a class="nav-item">
              <router-link :to="{ name: 'route_login'}">Zaloguj się</router-link>
            </a>
            <a class="nav-item">
              <router-link :to="{ name: 'route_your_account' }" class="">
                <span class="icon">
                  <i class="fa fa-user-circle-o"></i>
                </span>
              </router-link>
            </a>
            <a class="nav-item is-active">
              <router-link :to="{ name: 'route_buy_premium'}">Premium</router-link>
            </a>
          </div>
        </div>
      </div>
    </div>
  </header>
</template>

<script>
  import config from '../config/config';

  export default {
    name: 'AppHeader',
    data() {
      return {
        domain: config.DOMAIN,
      };
    },
  };
</script>
