<template>
  <p class="breadcrumbs">
    <a href="">Strona główna</a> /
    <span>Chirurg</span>
    <a href="">
      <span class="icon is-small">
        <span class="fa fa-caret-down"></span>
      </span>
    </a>
    /
    <a href="">
      Warszawa
    </a>
    <a href="">
      <span class="icon is-small">
        <span class="fa fa-caret-down"></span>
      </span>
    </a>
  </p>
</template>

<script>
  export default {
    name: 'Breadcrumbs',
    data() {
      return {
        data: {},
      };
    },
  };
</script>
