<template>
  <div class="column">
    <h1>
      {{form}}
    </h1>
  </div>
</template>

<script>
  export default {
    name: 'BuyPremium',
    data() {
      return {
        form: 'Buy Premium',
      };
    },
  };
</script>
