<template>
  <main role="main">
    <section class="hero is-info is-medium is-bold">
      <div class="hero-body">
        <div class="container">
          <div class="columns">
            <div class="column is-8 is-offset-2">
              <h1 class="title">
                {{title}}
              </h1>
              <h2 class="subtitle">
                {{ subtitle }}
              </h2>
            </div>
          </div>
          <search-form></search-form>
        </div>
      </div>
    </section>
    <popular-queries></popular-queries>
    <latest-properties></latest-properties>
  </main>
</template>

<script>
import SearchForm from './SearchForm.vue';
import PopularQueries from './PopularQueries.vue';
import LatestProperties from './LatestProperties.vue';
import AppHeader from './AppHeader.vue';
import config from '../config/config';
import endpoints from '../helpers/endpoints';

export default {
  components: {
    LatestProperties,
    AppHeader,
    SearchForm,
    PopularQueries,
  },
  name: 'Homepage',
  data() {
    return {
      title: config.BRAND.TITLE,
      subtitle: this.getGlobalAuctionsCount(),
    };
  },
  methods: {
    getGlobalAuctionsCount() {
      window.axios.get(endpoints.API_ENDPOINT_GLOBAL_ACUTIONS_COUNT)
        .then((response) => {
          this.subtitle = config.BRAND.SUBTITLE.replace('%count%', response.data.count);
        })
        .catch(() => '');
    },
  },
};
</script>
