<template>
  <div class="container latest-auctions">

    <h3 class="title is-h3">Ostatnio dodane</h3>

    <div class="columns is-multiline">

      <div class="column is-one-quarter" v-for="latestProperty in latestProperties">

        <div class="box">
          <article class="media">
            <div class="media-content">
              <div class="content">
                <p>
                  <strong>{{latestProperty.title}}</strong>
                  <br>
                </p>
                <div>
                  <small v-if="diff(latestProperty.auction.date) > 0">Aukcja odbędzie się {{latestProperty.auction.date | fromNow}}</small>
                  <small v-else>Aukcja już się odbyłą</small>
                  <br/>
                  <small>Opublikowano: {{latestProperty.auction.created_at | fromNow}}</small>
                </div>
              </div>
            </div>
          </article>
        </div>

      </div>

    </div>
  </div>
</template>

<script>
  import { diff, fromNow } from '../helpers/date';
  import endpoints from '../helpers/endpoints';

  export default {
    name: 'LatestProperties',
    data() {
      return {
        latestProperties: {},
      };
    },
    filters: {
      fromNow,
    },
    methods: {
      diff,
      fetchLatestProperties() {
        window.axios.get(endpoints.API_ENDPOINT_LATEST_PROPERTIES)
          .then((response) => {
            this.latestProperties = response.data;
          })
          .catch((error) => console.log(error));
      },
    },
    created() {
      this.fetchLatestProperties();
    },
  };
</script>
