<template>
  <div class="columns">
    <div class="column">
      <h1>
        {{form}}: {{page}}
      </h1>
    </div>
  </div>
</template>

<script>
  export default {
    name: 'Login',
    data() {
      return {
        form: 'Login',
        page: this.$route.params.page,
      };
    },
  };
</script>
