<template>
  <div class="container popular-queries">
    <h1 class="title is-h3">Popularne frazy</h1>
    <div class="columns">
      <p class="column is-12">
        <span v-for="(query, index) in popularQueries">
          <router-link :to="{ name: 'route_search', params: {
          type: query.property_urlname,
          city: query.city_urlname,
        }}">
            {{query.name}}<span v-if="popularQueries.length - 1 !== index">,</span>
          </router-link>
        </span>
      </p>
    </div>

  </div>
</template>

<script>
  import endpoints from '../helpers/endpoints';

  export default {
    data() {
      return {
        popularQueries: {},
      };
    },
    methods: {
      fetchPopularQueries() {
        window.axios.get(endpoints.API_ENDPOINT_POPULAR_QUERIES)
          .then((response) => {
            this.popularQueries = response.data;
          })
          .catch((error) => {
            console.log(error);
          });
      },
    },
    created() {
      this.fetchPopularQueries();
    },
  };
</script>
