<template>
  <div class="column">
    <h1>
      {{form}}: {{page}}
    </h1>
  </div>
</template>

<script>
  export default {
    name: 'Register',
    data() {
      return {
        form: 'Register',
        page: this.$route.params.page,
      };
    },
  };
</script>
