<template>
  <form class="columns is-mobile search-form">
    <div class="column is-3 is-offset-2 has-text-left">
      <strong>Typ</strong>
      <input class="input is-large" type="text" placeholder="np. działka" v-model="propertyInp">
      <ul>
        <li v-for="propertyType in propertyTypes" v-show="propertyInp.length > 0 && propertyType.name.includes(propertyInp)">
          {{propertyType.name}}
        </li>
      </ul>
    </div>
    <div class="column is-3 has-text-left">
      <strong>Miasto</strong>
      <input class="input is-large" type="text" placeholder="np. Warszawa" v-model="cityInp">
      <ul>
        <li v-for="(city, index) in cities" v-show="cityInp.length > 0 && city.name.includes(cityInp)">
          {{city.name}}
        </li>
      </ul>
    </div>
    <div class="column is-2">
      <br/>
      <a class="button is-warning is-large is-fullwidth">
         <span class="icon">
          <i class="fa fa-search"></i>
         </span>
        <span>
          Szukaj
        </span>
      </a>
    </div>
  </form>

</template>

<script>
  import endpoints from '../helpers/endpoints';

  export default {
    name: 'SearchForm',
    data() {
      return {
        cityInp: '',
        propertyInp: '',
        cities: {},
        propertyTypes: {},
      };
    },
    methods: {
      fetchCities() {
        window.axios.get(endpoints.API_ENDPOINT_CITIES)
          .then((response) => {
            this.cities = response.data;
          })
          .catch((error) => {
            console.log(error);
          });
      },
      fetchPropertyTypes() {
        window.axios.get(endpoints.API_ENDPOINT_PROPERTY_TYPES)
          .then((response) => {
            this.propertyTypes = response.data;
          })
          .catch((error) => {
            console.log(error);
          });
      },
    },
    created() {
      this.fetchCities();
      this.fetchPropertyTypes();
    },
  };
</script>
