<template>
  <div class="columns is-multiline">
    <h1 class="column is-offset-3 is-9 title is-h2 search-title">
       {{ type.name }} {{ city.name }} {{ pagination.current }}
    </h1>
    <div class="column is-3 search-filters">
      <div v-for="item in [1,2,3,4]" class="search-filters__group">
        <p>
          <strong>Filter name</strong>
        </p>
        <form>
          <div class="field">
            <p class="control" v-for="filter in Math.floor(Math.random() * (7 - 2)) + 2">
              <label class="checkbox">
                <input type="checkbox" name="question">
                Lorem ipsum dolot sit
              </label>
            </p>
          </div>
        </form>

      </div>
    </div>
    <div class="column is-9 search-listing">

      <div class="box" v-for="item in results">
        <article class="media">
          <div class="media-left">
            <figure class="image is-64x64">
              <img src="http://bulma.io/images/placeholders/128x128.png" alt="Image">
            </figure>
          </div>
          <div class="media-content">
            <div class="content">
              <p>
                <router-link :to="{name: 'route_auction', params: {
                  type: type.urlname,
                  city: city.urlname,
                  id: item.id
                }}">
                  <strong>{{item.title}}</strong>
                </router-link>
                <br/>
                <small v-if="diff(item.auction.date) > 0">Aukcja odbędzie się {{item.auction.date | fromNow}}</small>
                <small v-else>Aukcja już się odbyłą</small>
                <br/>
                <small>Opublikowano: {{item.auction.created_at | fromNow}}</small>
              </p>
              <p>
                ul. {{item.address.street}}, {{item.address.post_code}} {{item.address.city}}
              </p>
            </div>
          </div>
        </article>
      </div>

      <nav class="pagination is-centered">
        <ul class="pagination-list">
          <li v-for="(item, index) in pagination.all">
            <router-link :to="{ name: 'route_search', params: {
              'type': type.urlname,
              'city': city.urlname,
              'page': item
            }}" class="pagination-link" :class="{'is-current': pagination.current == index+1}">
              {{item}}
            </router-link>
          </li>
        </ul>
      </nav>

    </div>
  </div>
</template>

<script>
  import { diff, fromNow } from './../helpers/date';
  import endpoints from './../helpers/endpoints';
  import config from './../config/config';
  import PopularQueries from './PopularQueries.vue';

  export default {
    components: {
      PopularQueries,
    },
    data() {
      return {
        results: [],
        type: {},
        city: {},
        pagination: {
          all: null,
          current: null,
        },
      };
    },
    filters: {
      fromNow,
    },
    methods: {
      diff,
      fetchSearchResults() {
        window.axios.get(
          endpoints.API_ENDPOINT_SEARCH_LISTING, {
            params: {
              type_urlname: this.$route.params.type,
              city_urlname: this.$route.params.city,
              page: this.$route.params.page,
            },
          })
          .then((response) => {
            const data = response.data;

            this.results = data.search_results;
            this.type = data.query.type;
            this.city = data.query.city;
            this.page = data.page;

            this.setPagination(data.all_results_count, data.current_page);
          })
          .catch((error) => console.log(error));
      },
      setPagination(count, current) {
        this.pagination.all = Math.ceil(
          count / config.SEARCH_RESULTS.RESULTS_PER_PAGE,
        );
        this.pagination.current = current;
      },
    },
    created() {
      this.fetchSearchResults();
    },
    watch: {
      $route: 'fetchSearchResults',
    },
  };
</script>
