<template>
      <div class="column">
        <h1>
          {{form}}
        </h1>
      </div>
</template>

<script>
  export default {
    name: 'YourAccount',
    data() {
      return {
        form: 'Your Account',
      };
    },
  };
</script>
