<template>
  <div id="app" v-bind:class="{'is-homepage': isHomepage()}">
    <router-view v-if="isHomepage()"></router-view>
    <main role="main" v-if="!isHomepage()">
      <div class="container">
        <router-view></router-view>
      </div>
    </main>
    <app-header></app-header>
    <app-footer></app-footer>
  </div>
</template>

<script>
import AppFooter from './components/AppFooter.vue';
import AppHeader from './components/AppHeader.vue';
import router from './router/index';

export default {
  components: {
    AppHeader,
    AppFooter,
  },
  name: 'app',
  methods: {
    isHomepage() {
      return router.currentRoute.name === 'route_homepage';
    },
  },
  data() {
    return {
    };
  },
};
</script>

<style>
  @import "assets/sass/style.scss";
</style>
