.is-homepage main[role="main"] {
  padding-top: 3rem;
}

main[role="main"] {
  padding-top: 5rem;
  min-height: 400px;
  background: #f5f5f5;
}

header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.popular-queries {
  padding-bottom: 2rem;
  padding-top: 2rem;
}

.search-title {
  margin-top: 1rem;
  margin-bottom: 0 !important;
}

.search-form {
  margin-top: 1rem;
}

.search-filters__group {
  margin-bottom: 1rem;
}

.latest-auctions {
  padding-bottom: 3rem;
}

.copyright {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.footer {
  padding-bottom: 1rem;
}

.breadcrumbs {
  opacity: .35;
}

.breadcrumbs a {
  color: #666;
}

.breadcrumbs a:hover {
  color: #000;
}
